html {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

/* Header Modifiers */

header {
  top: 0px;
  height: 69px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid seashell;
  flex-direction: row;
  position: fixed;
  flex-grow: 1;
  align-items: center;
  z-index: 1;
  text-align: right;
  background-color: black;
}

.h-area {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.h-area img {
  height: 50px;
  display: flex;
  align-items: center;
}

nav {
  flex-grow: 1;
  text-align: right;
  /*padding-right: 20px;*/
}

nav span {
  padding: 0px 20px;
}

/* Content Modifiers*/

.content{
  display: flex;
  position: relative;
  padding-top: 62px;
  flex-direciton: column;
}

/* Our Mission Modifiers */

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /*height: 700px;*/
  width: 1200px;
  padding: 275px 20px;
}

#blackbg {
  background-color: black;
}

.ourmission {
  text-align: center;
}

h2{
  padding-top: 9px;
}

h4{
  padding-bottom: 9px;
}

/* Picture section */

.tofthemonth {
  display: flex;
  flex-direction: column;
}

.flexboxcontainer1 {
  display: flex;
  flex: wrap;
  flex-direction: row;
  flex-grow: 1;
}

div .fallblitz img {
  height: 200px;
  width: 300px;
}
